.header {
  background-color: vars.$background-color;
  height: 64px;
  width: 100%;

  // TODO correct display later
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-inline: 40px;
}