.mainInfo {
  @include mixins.flex-column-gap(75px);
}

.bookInfo {
  @include mixins.flex-column-gap(16px);
}

.author {
  @extend %author;

  // font-family: vars.$sans-font;
  // font-size: 18px;
  // line-height: 110%;
  // letter-spacing: -0.05em;
  // font-weight: 400;
  color: vars.$grey-100;
}

.title {
  @extend %book-title;

  // font-family: vars.$serif-font;
  // font-size: 32px;
  // line-height: 110%;
  // letter-spacing: -0.05em;
  // font-weight: 700;
  color: vars.$grey-100;
}

.bookCondition {
  @extend %condition;
  
  // font-family: vars.$sans-font;
  // font-size: 14px;
  // line-height: 110%;
  // letter-spacing: -0.05em;
  // font-weight: 400;
  color: vars.$primary-color;
}

.buttons {
  @include mixins.flex-column-gap(16px);
}