.form {
  @include mixins.flex-column-gap(24px);
}

.formTitle {
  @extend %h3;

  color: #000;
}

.formGrid {
  @include mixins.grid-from-design(9);
}

.names {
  & > :first-child {
    grid-column: span 5;
  }

  & > :last-child {
    grid-column: span 4;
  }
}

.categories {
  @include mixins.flex-column-gap(40px);
}

.genres {
  & > * {
    grid-column: 1 / 6;
  }
}

.genre {
  @include mixins.grid-from-design(5);

  // select input
  & > :first-child {
    grid-column: span 4;
  }

  // plus or delete .buttons
  & > :last-child {
    grid-column: span 1;
  }
}

.category {
  @include mixins.grid-from-design(9);

  & > * {
    grid-column: 1 / 5;
  }
}

.icon {
  margin-top: 44px;
  width: 21px;
  height: 21px;
  cursor: pointer;
}

.selectContainer {
  & > :first-child {
    grid-column: span 5;
  }
}

.descriptionContainer {
  margin-top: 16px;
}

.buttons {
  @include mixins.flex-row-gap(40px);

  & > * {
    width: 176px;
  }
}

.fileBlock {
  @include mixins.flex-column-gap(8px);
}

.fileInputBlock {
  @include mixins.flex-row-gap(8px);

  align-items: center;
  -webkit-align-items: center;
}

.fileInput {
  display: none; // hide the ugly native file input
}

.fileLabel {
  @include mixins.display-flex-centered;
  @extend %buttons;

  height: 44px;
  width: 176px;
  border-radius: 8px;
  padding: 14px;

  background-color: vars.$grey-100;
  color: vars.$white-color;
  border: none;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
  }
}

.fileName {
  font-size: 0.9rem;
  color: #666;
}

.message {
  @extend %small-text;

  margin-top: -8px;
  height: 12px;
  color: vars.$grey-80;
  padding-left: 17px;
}

.errorMessage {
  color: vars.$red-color;
}
