.container {
  @include mixins.flex-column-gap(16px);

  width: 100%;
}

.title {
  @extend %book-title;

  // font-family: vars.$heading-font;
  // font-size: 24px;
  // line-height: 110%;
  // letter-spacing: -0.05em;
  // font-weight: 700;
  font-size: 24px;
  color: vars.$grey-100;
  margin-bottom: 8px;
}

.slider {
  @include mixins.flex-row-gap(24px);
  flex-wrap: nowrap;
  overflow: hidden;
  width: 100%;

  & > * {
    min-width: calc((100% - 48px) / 3);
    max-width: calc((100% - 48px) / 3);
  }
}

.navigation {
  @include mixins.flex-row-gap(24px);

  justify-content: flex-end;
  align-items: center;
}