.container {
  @include mixins.flex-column-gap(32px);

  width: 703px;
  height: 472px;

  position: absolute;
  top: 64px;
  right: 30%;
  z-index: 999;
  background-color: vars.$secondary-color;
  padding: 40px 24px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

.message {
  width: 100%;
  font-weight: 500;
  font-family: vars.$sans-font;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0;
  color: vars.$primary-color;
  padding-bottom: 16px;
  text-align: center;
  border-bottom: 0.5px solid vars.$grey-60;
}

.book {
  @include mixins.flex-row-gap(48px);
}

.imageWrapper {
  max-width: 191px;
  min-width: 191px;
  width: 100%;
  @include mixins.display-flex-centered;

  & > * {
    width: 100%;
    object-fit: cover
  }
}

.leftSide {
  @include mixins.flex-column-gap(40px);

  width: 100%;
}

.info {
  @include mixins.flex-column-gap(16px);
}

.autor {
  font-family: vars.$sans-font;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -0.05em;
  color: vars.$grey-100;
}

.title {
  @extend %h2;

  min-height: 70px;
  color: vars.$grey-100;
}

.condition {
  font-family: vars.$sans-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: -0.05em;
  color: vars.$primary-color;
}

.format {
  font-family: vars.$sans-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: -0.05em;
  color: vars.$grey-100;
}

.buttons {
  @include mixins.flex-column-gap(16px);

  & > * {
    width: 100%;

    &:first-child {
      height: 48px;
    }

    &:last-child {
      height: 44px;
    }
  }


}