.group {
  @include mixins.flex-column-gap(8px);

  position: relative;

  &:focus-within {
    .label {
      display: block;
      color: vars.$primary-color;
    }

    .input::placeholder {
      color: transparent;
    }
  }
}

.label {
  @extend %body-text;

  display: none;
  position: absolute;
  top: -10px;
  left: 12px;
  
  letter-spacing: -0.05em;
  color: vars.$grey-50;
  background-color: vars.$background-color;
  padding-inline: 4px;
}

.input {
  padding: 15px 17px;
  border: 1px solid vars.$grey-50;
  outline: none;
  height: 44px;
  border-radius: 8px;

  &::placeholder {
    @extend %buttons;
    
    color: vars.$grey-50;
  }

  &.error {
    border: 1px solid vars.$red-color;
  }

  &:focus {
    border: 1px solid vars.$primary-color;
    outline: none;
  }
}

.password {
  padding-right: 53px;
}

.message {
  @extend %small-text;

  margin-top: -8px;
  height: 12px;
  color: vars.$grey-80;
  padding-left: 17px;
}

.errorMessage {
  color: vars.$red-color;
}

.visible {
  display: unset;
}

.icon {
  @include mixins.width-height(21px, 21px);
}

.showPassword {
  position: absolute;
  right: 16px;
  top: 20%;
  cursor: pointer;
}
