.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.loginBlock {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;

  & > a {
    color: vars.$primary-color;
  }
}