.select {
  position: relative;
  width: 100%;
  color: vars.$grey-60;

  @include mixins.flex-column-gap(8px);
}

.selectInput {
  width: 100%;
  height: 44px;
  padding: 13px 16px;
  border-radius: 8px;
  border: 1px solid vars.$grey-60;
  color: vars.$grey-60;
  font-family: vars.$sans-font;
  line-height: 110%;
  font-size: 16px;
}

.expand {
  position: absolute;
  top: 44px;
  right: 13px;
}

.icon {
  transition: transform 0.5s ease;
  cursor: pointer;

  @include mixins.width-height(21px, 21px);
}

.iconExpanded {
  transform: rotate(180deg);
}