.signUpPageContainer {
  @include mixins.flex-column-gap(40px);

  margin-inline: auto;
  padding: 0 32px 32px;
  width: 100%;
  max-width: 388px;
}

.signUpTitle {
  @extend %h3;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: -5%;
  text-align: center;
}
