.bookCartItem {
  @include mixins.flex-row-gap(32px);

  width: 100%;
}

.infoWrapper {
  @include mixins.flex-column-gap(18px);

  width: 100%;
}

.author {
  font-family: vars.$sans-font;
  font-size: 18px;
  line-height: 110%;
  font-weight: 400;
  letter-spacing: -0.05em;
  color: vars.$grey-100;
}

.title {
  font-family: vars.$heading-font;
  font-size: 24px;
  line-height: 110%;
  font-weight: 700;
  letter-spacing: -0.05em;
  color: vars.$grey-100;
}

.condition {
  font-family: vars.$sans-font;
  font-size: 14px;
  line-height: 110%;
  font-weight: 400;
  letter-spacing: -0.05em;
  color: vars.$primary-color;
}

.format {
  font-family: vars.$sans-font;
  font-size: 14px;
  line-height: 110%;
  font-weight: 400;
  letter-spacing: -0.05em;
  color: vars.$grey-100;
}

.imageWrapper {
  width: 130px;
}

.image {
  object-fit: contain;
}
