.page__body {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  background-color: vars.$background-color;
}

.App {
  @include mixins.flex-column-gap();

  width: 100%;
  min-height: 100dvh;
}

.App__main {
  position: relative;
  width: 100%;
  padding-inline: 40px;
  flex: 1;
  padding-top: 112px;
}