.homePage {
  @include mixins.flex-column-gap(350px);

  position: relative;
  width: 100%;
}

.titleBlock {
  @include mixins.flex-column-gap(16px);

  padding-right: 440px;
  padding-block: 200px 140px;
  width: 100%;
  align-items: center;

  & > :last-child {
    width: 175px;
  }
}

.mainPageImage {
  min-height: 805px;
  max-height: 805px;

  margin-right: -40px;
  width: 636px;
  background-color: vars.$primary-color;
  position: absolute;
  top: -112px;
  right: 0;
  z-index: 10;
  overflow: hidden;

  @include mixins.flex-row-gap(16px);

  padding-inline: 16px;
}

.col {
  @include mixins.flex-column-gap(16px);
}

.title {
  font-family: vars.$serif-font;
  font-size: 100px;
  line-height: 56px;
  font-weight: 600;
  letter-spacing: -0.01em;
}

.purpose {
  @extend %body-text;

  width: 225px;
  margin-bottom: 24px;
  text-align: center;
}

.button {
  @include mixins.display-flex-centered();
  @extend %buttons;

  padding-block: 16px;
  width: 100%;
  max-width: 200px;
  border-radius: 8px;

  background-color: vars.$primary-color;
  color: vars.$white-color;
  cursor: pointer;
}

.images {
  @include mixins.flex-row-gap(13px);

  width: 100%;
  align-items: flex-end;
  -webkit-align-items: flex-end;

  // lying books
  & > :nth-child(1) {
    width: minmax(50%, 251px);
  }

  // standing books
  & > :nth-child(2) {
    width: minmax(50%, 196px);
  }
}

.image {
  object-fit: contain;
}

.quoteWrapper {
  @include mixins.flex-column-gap(32px);

  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  width: 100%;
}

.quoteBlock {
  @include mixins.flex-row-gap(16px);

  width: 100%;
  padding-inline: 162px;
  height: 230px;
}

.quote {
  @extend %quote-primary;

  color: vars.$black;
}

.quotee {
  @extend %quote-secondary;

  color: vars.$black;
}
