.listContainer {
  @include mixins.flex-column-gap(16px);
}

.list {
  width: 100%;
  max-width: 1032px;
  display: grid;
  grid-template-columns: repeat(12, minmax(48px, 64px));
  gap: 24px;

  & > * {
    grid-column: span 4;
  }
}